.img{
  width: 200px;
  height: 200px;
}

.main{
  text-align: center;
}


.menu {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 10px;

  cursor: pointer;
  padding: 10px;
}

.menu:hover{
  background-color: rgba(255, 166, 0, 0.347);
}

.items{
  display: flex;
  flex-direction: column;
  text-align: start;
}

.closeEditForm{
  cursor: pointer;
}

.Backdrop{
  background-color: rgba(0, 0, 0, 0.485);
  padding: 20px;
  border-radius: 5px;
}
.Backdrop p {
  text-align: end;
}

.addNew{
  text-align: start;
  margin-left: 10px;
}