.img{
  width: 200px;
  height: 200px;
}

.main{
  text-align: center;
}


.menu {
  display: grid;
  grid-template-columns: 1fr 15fr;
  margin: 10px;
  gap: 10px;

  cursor: pointer;
  padding: 10px;
}

.items{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 10px;

}

.index{
  padding: 10px;
}

.items:hover{
  background-color: rgba(255, 166, 0, 0.347);
  border-radius: 5px;
}

.closeEditForm{
  cursor: pointer;
}

.Backdrop{
  background-color: rgba(0, 0, 0, 0.485);
  padding: 20px;
  border-radius: 5px;
}
.Backdrop p {
  text-align: end;
}

.addNew{
  text-align: start;
  margin-left: 10px;
}

.itemsAndBin{

  display: grid;
  grid-template-columns: 20fr 1fr;
}

.bin{

  padding: 20px;
}

.bin:hover{
  background-color: rgba(255, 0, 0, 0.336);
  border-radius: 5px;
}