.link{
    text-decoration: none;
    color: rgb(140, 214, 29);
    font-size: 110%;
}

.button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}