.link{
    text-decoration: none;
    color: orangered;
    font-size: 110%;
}

.button {
    padding: 15px;
    border-radius: 5px;
    border: 1px rgba(255, 68, 0, 0.227) solid;
    background-color:orange;
    color: black;
    cursor: pointer;
}