.link{
    text-decoration: none;
    color: #05e35e;
    font-size: 110%;
}

.button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #05e35e;
    color: black;
    cursor: pointer;
}