.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    padding: 1%;
    border: solid #05e35e 1px;
    margin: 2.5%;
}

.totalPrice {
    position: absolute;
    right: 60px;
    background-color: #05e35e;
    padding: 1%;
    border-radius: 5px;
    cursor: pointer;
}

.img{
    width: 110px;
    height: auto;
}

.emptyCart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}