/* .header{
    position: sticky;
    top: 0;
    z-index: 1;
} */

.nav{
    background-color: #eda66487 ;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navList{
    display: flex;
    flex-direction: row;
}

.navList a{
    padding-left: 2%;
    padding-right: 2%;
    list-style: none;
}

.navList a:hover{
    text-decoration: underline;
}
.navList a:active{
    text-decoration: underline;
}

.logo{
    font-size: 250%;
    cursor: pointer;

}

.logo a{
    text-decoration: underline orange;
    color: rgb(255, 119, 0);
}

.collapseNavList{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.collapseNavList a {
    color: rgb(167, 164, 164);
    font-size: 120%;
    margin-bottom: 5%;
}

.collapseButton{
    display: none;
    position: absolute;
    right: 0;
    margin: 10%;
}

.navListDiv{
    position: absolute;
    right: 0;
    margin-right: 5%;
    text-align: center;
}

@media only screen and (max-width: 775px){
    .navListDiv{
        display: none;
        
    }

    .collapseButton{
        display: block;
    }
}
