.welcome h1{
    text-align: left;
    padding: 5%;
    font-size: 230%;
    font-family:  'Courier New', Courier, monospace;
    text-shadow: 2px 2px 2px rgb(177, 176, 176);

}

.welcome{
    background: url('https://images.pexels.com/photos/2498440/pexels-photo-2498440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position-y:50% ;
    text-align: center;
    padding: 3em;
}

@media only screen and (min-width: 560px){
    .img{
        margin: 2%;
        width: 20%;
        height: auto;
        box-shadow: 10px 10px 10px rgb(146, 148, 146);
        border-radius: 10px;
    }
}