.headerText h1{
    
    width: 50%;
    text-align: center;
    align-self: center;
    /* margin: 5%; */
    padding: 5%;
    font-size: 230%;
    font-family:  'Courier New', Courier, monospace;
    text-shadow: 2px 2px 2px rgb(126, 126, 126);

    /* font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.headerText{
    background: rgb(215, 215, 215);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img{
    margin: 2%;
    width: 35%;
    height: auto;
    box-shadow: 10px 10px 10px rgb(146, 148, 146);
    border-radius: 10px;
}


@media only screen and (min-width: 560px){
    .img{
        margin: 2%;
        width: 20%;
        height: auto;
        box-shadow: 10px 10px 10px rgb(146, 148, 146);
        border-radius: 10px;
    }
}