.overlay{
    box-shadow: 3px 3px 10px green;
    border-radius: 10px;
    background:white; 
    /* width:90%; */
    height: 50vh;
    color: white;
    position: fixed;
    bottom: 25%;
    left: 30%;
    z-index: 2;
    text-align: center;
    width: 40%;
    padding: 3%;
}

.overlay h1, .overlay p {
    color: black;

}

.overlay h1{
    margin-bottom: 5%;
}

.button{
    position: absolute;
    margin: 5%;
    right: 0;
    bottom: 0;

}

.button :hover{
    background-color: rgb(154, 242, 22);
}

