.formDiv{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
    
}

.form input {
    font-size: 150%;
    height: 9vh;
    width: 250px; 
    border-radius: 4px; 
    background: transparent
}

.form Button{
   margin-left: 5%;
   margin-top: 1%;
}
